<nav>

    <div class="logo">
        <a href="/">
            💪FitCommunity
        </a>
    </div>

    <ul class="nav-links">

    <li><a href="/">Home</a></li>

    <li><a href="/workouts">Workouts</a></li>

    <li><a href="/challenges">Challenges</a></li>

    <li><a href="/leaderboard">Leaderboard</a></li>

    <% if(user){ %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/my-challenges">My Challenges</a></li>

        <li><a href="/profile">Profile</a></li>

        <li><a href="/logout">Logout</a></li>

    <% } else { %>

        <li><a href="/login">Login</a></li>

        <li><a href="/register">Register</a></li>

    <% } %>

</ul>

</nav>