<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Edit User</h3>
    <form action="/users/<%=user.id%>?_method=PUT" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="<%=user.username%>" required>

        <label for="age">Age</label>
        <input type="number" id="age" name="age" value="<%=user.age%>" required>

        <label for="city">City</label>
        <input type="text" id="city" name="city" value="<%=user.city%>" required>

        <button type="submit" >Update User</button>
    </form>
</body>
</html>