<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Fitness Challenge Community</title>
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/login.css">

    <style>
        
    </style>

</head>
<body>

<div class="container">
    
    <h2>Welcome Back</h2>

<p class="subtitle">
    Login to continue your fitness journey.
</p>
    <form action="/login" method="POST">

        <div class="form-group">
            <label>Email Address</label>
            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required>
        </div>

        <button type="submit">
            Login
        </button>

    </form>

    <div class="links">
        <a href="#">Forgot Password?</a>
        <a href="/">Home</a>
    </div>

    <p>
        Don't have an account?
        <a href="/register">Register</a>
    </p>

</div>

</body>
</html>